extends layout

block content
  main.section
    a(href="/") Back
    fieldset
      legend
        h2 1st
        h2 #{title}
      ul
        li
          form.note
            textarea(name="message" type="text" placeholder="Your message")
            fieldset
              input(name="name" type="text" placeholder="Your Name")
              input(type="submit" value="Stick it!")
        li.note(tabindex="0")
            p Loved the question about negotiating a salary
            h5 Alejo
          
        li.note(tabindex="0")
          p Is a cover letter important?
          h5 Mafe
        
        li.note(tabindex="0")
          p Where am I going to use Merge Sort anyway?
          h5 Luza
        
        li.note(tabindex="0")
          p What is the difference between a Tree Node and a Linked List Node
          h5 Alejo
        
        li.note(tabindex="0")
          p My React App is breaking with a Max Update Depth Exceeded
          h5 Mafe
        
        li.note(tabindex="0")
          p When will I ver use componentDidUpdate()
          h5 Luza
  script(src="/javascripts/form.js")
        
        