extends layout

append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/index.css')
block content
  .landing
    main
      .centered
        h1 Covid-it
        nav
          a(href="/wanttodo") Want to Do
          a(href="/learned") Learned
          a(href="/gratefulfor") Grateful For
        p Share a note with the world about something you want to do, something you learned and something you are grateful for after (and during) the Covid-19 Pandemic. 
    footer
      span Made with ❤️ by #[a(href="https://github.com/alejo4373") @alejo4373]
