extends layout

block content
  .landing
    main
      .centered
        h1 Pursuit Parking note App
        ul
          each note in notes
            li
              a(href=`/notes/${note.id}`) #{note.name}
    footer
      span Made with ❤️ by #[a(href="https://github.com/alejo4373") @alejo4373]
