extends layout

block content
  .landing
    main
      .centered
        h1 Pursuit Parking Lot App
        ul
          each lot in lots
            li
              a(href=`/lots/${lot.id}`) #{lot.name}
    footer
      span Made with ❤️ by #[a(href="https://github.com/alejo4373") @alejo4373]
