extends layout

block content
  main.section
    a(href="/") Back
    fieldset
      legend
        h2 #{title}
      ul
        li
          form.note
            textarea(name="message" type="text" placeholder="Your message")
            fieldset
              input(name="username" type="text" placeholder="Your Name")
              input(name="category" type="text" value=`${category}` hidden)
              input(type="submit" value="Stick it!")

              //- TODO remove defaults and allow user to enter these values
              input(name="language" type="text" value="english" hidden)
              input(name="country" type="text" value="us" hidden)
              input(name="city" type="text" value="nyc" hidden)
              
        each note in notes
          li.note(tabindex="0")
              p #{note.message}
              h5 #{note.username}        

        li.note(tabindex="0")
          p CNA, Nurses, Doctors and all Medical Teams!
          h5 Dessa

        li.note(tabindex="0")
          p I'm grateful for my good friends
          h5 Alejo
        
        li.note(tabindex="0")
          p That Dogs don't get coronavirus 
          h5 Ethan
        
        li.note(tabindex="0")
          p My neighbor's kindness
          h5 Peter
        
        li.note(tabindex="0")
          p El soporte de mi familia
          h5 Theresa
        
        li.note(tabindex="0")
          p That we are all one kind
          h5 Luza

        li.note(tabindex="0")
          p 狗子不会得新冠！
          h5 小白

  script(src="/javascripts/form.js")
        
        