extends layout

append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/notes.css')
    
block content
  main.section
    a(href="/") Back
    fieldset
      legend
        h2 #{title}
      ul
        li
          form.note
            textarea(name="message" type="text" placeholder="Your message")
            fieldset
              input(name="username" type="text" placeholder="Your Name")
              input(name="category" type="text" value=`${category}` hidden)
              input(type="submit" value="Stick it!")

              //- TODO remove defaults and allow user to enter these values
              input(name="language" type="text" value="english" hidden)
              input(name="country" type="text" value="us" hidden)
              input(name="city" type="text" value="nyc" hidden)
              
        each note in notes
          li.note(tabindex="0")
              p #{note.message}
              h5 #{note.username}        

  script(src="/javascripts/form.js")
        
        