* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 100%;
}

a {
  text-decoration: none;
}

.landing, .section {
  height: 100%;
}

.landing {
  background: linear-gradient(90deg, #f7315f,#d7385e);
}

.landing main {
  font-size: 3em;
  height: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing main h2, .landing main h1, footer a {
  color: white;
  text-shadow: 1px 3px 4px #79298e;
  font-family: 'Rock Salt', cursive;
}

.landing main nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.landing main nav a {
  font-weight: lighter;
  font-family: 'Reenie Beanie', cursive;
  color:#323336; 
  font-size: 1.3em;
  text-shadow: 1px 3px 4px #8c419f;
}

.landing main nav a:hover {
  text-shadow: 
    2px 2px 10px #8c419f, 
    -2px -2px 10px #8c419f,
    2px 2px 1px white;
  text-decoration: underline;
}
.landing main p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.5em;
  color:#323336; 
  margin: 2em;
}

.landing footer {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  background-color: #323336; 
  color: whitesmoke;
  height: 5%;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.landing footer a {
  font-size: 0.7em
}

.section {
  background: 
    linear-gradient(rgba(239, 211, 159, 0.5),rgba(239, 211, 159, 0.3)), 
    url(/images/cork-bg.png); 
  background-color: #e0b67b;
}

main fieldset {
  border: 20px groove #e7bd83;
  width: 80%;
  margin: 0 auto;
}

main fieldset legend {
  margin: 0 20px;
  font-size: 2em;
  padding: 0 20px
}

main fieldset legend h2 {
  font-family: 'Rock Salt', cursive;
  font-weight: lighter;
  color: #f0325f;
  text-shadow: 1px 3px 4px #8c419f;
  line-height: 1.2em;
}

h5, p {
  font-size: 100%;
  font-weight: normal;
}

.lane, .note {
  list-style: none;
}

.lane {
  width: max-content;
  display: inline-block;
  vertical-align: top;
}

#notes {
  padding: 3em;
  overflow: hidden;
}

.note {
  background: linear-gradient(90deg, #f7315f,#d7385e);
  height: 10em;
  width: 10em;
  padding: 1em;
  margin: 1em;
  display: grid;
  grid-template-rows: auto 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
  color: white;
  text-shadow: 1px 3px 4px #79298e
}

.lane:nth-child(odd) .note:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: 10px;
}

.lane:nth-child(2n) .note:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: 10px;

}

.lane:nth-child(3n) .note:nth-child(5n) {
  transform: rotate(5deg);
  position: relative;
  top: 10px;

}

.note:hover, .note:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.note h5 {
  font-weight: bold;
  text-align: right;
}

.note p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 180%;
}

form fieldset {
  border: 0;
}

form textarea, form input[type="text"] {
  width: 100%;
  background: transparent;
  border: 0
}

form textarea {
  resize: none;
  font-family: 'Reenie Beanie', cursive;
  font-size: 180%;
}

form textarea::placeholder, input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 3px 4px #79298e
}

form input[type="text"] {
  text-align: right;
}

form input[type="submit"] {
  width: 100%;
  border-radius: 3px;
  border-color: #8f41a3;
  box-shadow: inset 0px 1px 0px 0px #c77fda;
  background: linear-gradient(to bottom, #8f41a3 5%, #522d5b);
  padding: 2px;
  color: white;
  text-shadow: 0px 1px 0px #528090;
}

form input[type="submit"]:hover {
  background: linear-gradient(to bottom, #522d5b 5%, #8f41a3 );
}

form input[type="submit"]:active {
  position: relative;
  top: 1px;
}
