html, body {
  height: 100%;
}

.landing, .section {
  height: 100%;
}

.landing {
  background: #F38181;
}

.landing main {
  font-size: 3em;
  height: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing main h2, .landing main h1, footer a {
  color: white;
  text-shadow: 1px 3px 4px #79298e;
  font-family: 'Rock Salt', cursive;
}

.landing main nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.landing main nav a {
  font-weight: lighter;
  font-family: 'Reenie Beanie', cursive;
  color:#323336; 
  font-size: 1.3em;
  text-shadow: 1px 3px 4px #8c419f;
  text-decoration: none;
}

.landing main nav a:hover {
  text-shadow: 
    2px 2px 10px #8c419f, 
    -2px -2px 10px #8c419f,
    2px 2px 1px white;
  text-decoration: underline;
}

.landing main p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 0.5em;
  color:#30475E;
  margin: 2em;
}

.landing footer {
  font-family: 'Source Sans Pro', sans-serif;
  width: 97%;
  background-color: #323336; 
  color: whitesmoke;
  height: 5%;
  display: flex;
  align-items: center;
  padding-left: 3%;
}

.landing footer a {
  font-size: 0.7em
}

@media screen and (max-width: 1080px) {
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 590px) {
  .landing main {
    font-size: 8vw;
  }
}

@media screen and (max-height: 414px) {
  .landing {
    height: auto;
  }
}
