* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #e0b67b;
}

body {
  font-size: 100%;
}

a {
  text-decoration: none;
}

.section {
  background: 
    linear-gradient(rgba(239, 211, 159, 0.5),rgba(239, 211, 159, 0.3)), 
    url(/images/cork-bg.png); 
  min-height: 100vh;
}

main .list-container {
  border: 20px groove #e7bd83;
  margin: 0 10%;
}

main .list-container legend {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 0 20px;
}

main fieldset legend h2 {
  font-family: 'Rock Salt', cursive;
  font-weight: lighter;
  color: #8f41a3;
  line-height: 1.2em;
  font-size: 3em;
}

h5, p {
  font-size: 100%;
  font-weight: normal;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px); // 224px = total width of a .note
  justify-content: center;
}

ul, li {
  list-style: none;
}

@media screen and (max-width: 890px) {
  main .list-container {
    border: unset;
    margin: 0 auto;
  }
}

@media screen and (max-width: 590px) {
  ul {
      grid: unset;
  }
}
